<div class="row">
  <div class="col-md-12">
    <table class="table table-hover table-bordered table-striped tg">
      <thead>
        <tr>

          <th class="tg-031e text-center" colspan="2">PROJETS</th>
          <th class="tg-031e text-center" *ngFor="let day of daysN" style="color:grey;font-weight: 700 !important;">
            {{ day }}
          </th>
          <th class="blue text-center align-middle" colspan="2" rowspan="2">Total</th>
        </tr>
        <tr>
          <td class="tg-031e text-center" style="font-weight: 700 !important;color:blue;">CLIENT</td>
          <td class="tg-031e text-center" style="font-weight: 700 !important;color:blue;">MISSION</td>
          <td class="tg-031e text-center blue" [attr.data-date]='day.day+"-"+day.month+"-"+day.year' *ngFor="let day of days">
            {{ day.day }}
          </td>

        </tr>

      </thead>
      <tbody>
        <!-- PROJECTS -->
        <tr *ngFor="let project of projects">
          <td class="tg-031e  text-center">{{project.client}}</td>
          <td class="tg-031e  text-center">{{project.mission}}</td>
          <td class="tg-031e  text-center" (click)="toggleEdit($event)" [attr.data-date]="item.date" *ngFor="let item of project.dateP;let i=index">
              <ng-container *ngIf="item.value != null">
                <select [(ngModel)]="item.value" (ngModelChange)="change(project,i)">
                    <option [ngValue]="null"></option>
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="1/2">1/2</option>
                    <option [ngValue]="1/3">1/3</option>
                    <option [ngValue]="1/4">1/4</option>
                  </select>
              </ng-container>
              <ng-container *ngIf="item.value == null">
                  <select [(ngModel)]="item.value" (ngModelChange)="change(project,i)">
                      <option [ngValue]="null" selected>#</option>
                      <option [ngValue]="1">1</option>
                      <option [ngValue]="1/2">1/2</option>
                      <option [ngValue]="1/3">1/3</option>
                      <option [ngValue]="1/4">1/4</option>
                    </select>
              </ng-container>
          </td>
          <td class="tg-031e  text-center">
            {{ project.joursT|number: '1.1-2' }}j / {{count}}
          </td>
        </tr>
      </tbody>
    </table>

  </div>
  <!--
  <div class="col-md-12">
    <pre style="font-size:10px;">{{projects[1] |json}}</pre>
  </div>
-->
</div>