<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-10 text-center">
      <select [(ngModel)]="currentMonth" (ngModelChange)="changeMonth(currentMonth)">
        <option selected [ngValue]="0">Select a month</option>
        <option [ngValue]="1">January</option>
        <option [ngValue]="2">Februray</option>
        <option [ngValue]="3">March</option>
      </select>
      <select [(ngModel)]="currentYear" (ngModelChange)="changeYear(currentYear)">
        <option [ngValue]="0" selected>Select a year</option>
        <option [ngValue]="2017">2017</option>
        <option [ngValue]="2018">2018</option>
      </select>
    </div>
    <div class="col-md-2"></div>
    <div class="col-md-10">
      <div class="table-responsive">
        <table class="table table-hover table-bordered table-striped tg">
          <thead>
            <tr>

              <th class="tg-031e text-center projects" colspan="2">PROJETS</th>
              <ng-container *ngFor="let day of daysN;let i = index">
                <th class="tg-031e text-center week-end" *ngIf="day == 'D' || day == 'S'">
                  <span class="">{{ day }}</span>
                </th>

                <th class="tg-031e text-center simple-day" *ngIf="day != 'D' && day != 'S'">
                  <span>{{ day }}</span>
                </th>
              </ng-container>

              <th class="blue text-center" colspan="2" rowspan="2">Total</th>
            </tr>

            <tr class="type-project">
              <td class="tg-031e text-center custmor">CLIENT</td>
              <td class="tg-031e text-center mission">MISSION</td>
              <td class="tg-031e text-center blue days-on" [attr.data-date]='day.day+"-"+day.month+"-"+day.year' *ngFor="let day of days">
                <span class="day-on">{{ day.day }}</span>
              </td>

            </tr>

          </thead>
          <tbody>
            <!-- PROJECTS -->
            <tr *ngFor="let project of projects">
              <td class="tg-031e  text-center custmor">{{project.client}}</td>
              <td class="tg-031e  text-center mission">{{project.mission}}</td>
              <td class="tg-031e  text-center" [attr.data-date]="item.date" *ngFor="let item of project.dateP;let i=index">
                <ng-container *ngIf="item.value != null">
                  <select [(ngModel)]="item.value" (ngModelChange)="change(project,i)" class="select-cra">
                    <option [ngValue]="0"></option>
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="1/2">1/2</option>
                    <option [ngValue]="1/3">1/3</option>
                    <option [ngValue]="1/4">1/4</option>
                  </select>
                </ng-container>
                <ng-container *ngIf="item.value == null">
                  <select [(ngModel)]="item.value" (ngModelChange)="change(project,i)" class="select-cra">
                    <option [ngValue]="0" selected></option>
                    <option [ngValue]="1">1</option>
                    <option [ngValue]="1/2">1/2</option>
                    <option [ngValue]="1/3">1/3</option>
                    <option [ngValue]="1/4">1/4</option>
                  </select>
                </ng-container>
              </td>
              <td class="tg-031e  text-center">
                {{ project.joursT|number: '1.1-2' }}
              </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>
</div>